<h2>Create a Sparrow</h2>
<%= form_tag sparrows_path, method: "post" do %>
  <% if @sparrow.errors.any? %>
    <div id="error_explanation">
      <h3>There were some errors:</h3>
      <ul>
        <% @sparrow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @sparrow.errors[:name].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @sparrow.name %>
  </div>

  <% if @sparrow.errors[:email].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @sparrow.email %>
  </div>

  <% if @sparrow.errors[:phone_number].empty? %>
    <div class="field">
  <% else %>
    <div class="field_with_errors">
  <% end %>
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number", @sparrow.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
