<h2>Edit <%= @author.name %></h2>

<% if @author.errors.any? %>
  <div id="error_explanation">
    <h4>We're sorry, but the following <%= pluralize(@author.errors.count, "error") %> prevented this author from being updated:</h4>
    <ul>
      <% @author.errors.full_messages.each do |m|%>
      <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag author_path(@author), method: "patch" do %>
  <div class="field<%= ' field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @author.email %>
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number", @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
