<h1>Edit Author</h1>

<% if @author.errors.any? %>
<div id="error_explanation">
  <% @author.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>

</div>
<% end %>

<%= form_for(@author) do |f| %>
  Name: <%= f.text_field :name %><br>
  Email: <%= f.text_field :email %><br>
  Phone Number: <%= f.text_field :phone_number%> <br>
  <%= f.submit %>
<% end %>
