<h2>Create an Author</h2>
<%= form_tag authors_path, method: "post" do %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @author.errors[:name].present? %>
    <div class="field_with_errors">
  <% else %>
    <div class="field">
  <% end %>
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name", @author.name %>
  </div>

  <% if @author.errors[:email].present? %>
    <div class="field_with_errors">
  <% else %>
    <div class="field">
  <% end %>
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email", @author.email %>
  </div>

  <% if @author.errors[:phone_number].present? %>
    <div class="field_with_errors">
  <% else %>
    <div class="field">
  <% end %>
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number", @author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
