<h2><%= @author.name %></h2>
<p><a href="mailto:<%= @author.email %>"><%= @author.email %></a></p>
<% if @author.phone_number %>
    <p><%= @author.phone_number %></p>
<% end %>
<p><%= link_to "Edit Author", edit_author_path(@author) %></p>
