<h1>New Post Form</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<%end%>

<%=form_for(@post) do |f| %>

  <%=f.label :title %>
  <%=f.text_field :title %><br>
  <%=f.label :category %>
  <%=f.text_field :category %><br>
  <%=f.label :content%>
  <%=f.text_field :content %><br>

  <%=f.submit "Create Post" %>

  <%end%>
